body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    box-sizing: border-box;
}

header {
    background: url(../img/bg1.jpg) no-repeat center / cover;
    padding-bottom: 100px;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.notification_error {
    font-size: 20px;    
    color: white;  
    text-align: center;
}

.note p {    
    font-size: 20px;    
    color: white;  
    text-align: center;
}

.form-container {
    position: fixed;
    width: 40%;
    min-height: 40%;
    background: #fed136;   
    border-radius: 20px; 
    left: 50%;
    margin-left: -20%;
    top: -160%;
    transition: all cubic-bezier(.97,-0.7,0,1.5) 0.5s;
    z-index: 99999;    
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#hideContactUs {
    color: white;
    margin: 0 0 5px 15px;
}

.ajax-contact-form {
    display: flex;
    flex-direction: column;  
    margin-top: 5px;  
}

#ajax-contact-form_btns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contactUs_item, .form-container__btn {
    width: 80%;
    margin: 0 auto 10px auto;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.form-container__btn {
    width: 40%;    
    background: #fed136;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: 1px solid #fed136;
}

.form-container__btn:hover {
    background: #fed136;
    border: 1px solid #fff;
}

.form-container__btn:active {
    background: #fed136;
    border: 1px solid #fed136;
    box-shadow:  0 0 0 2px;
}

#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-top: 30px;
    transition: all ease 1s;
}

#menu a {    
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 8px;
    padding: 3px;
    margin: 5px;
}

#menu a:hover {
    opacity: 0.7;
}

.titles__first {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 135px;
}

.titles h1 {
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#button {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background: #fed136;
    color: rgb(255, 255, 255);
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    transition: all ease 1s;
}

#button:hover {
    background: #ffda5d;
}

#button:active {
    background: #e05d15;    
}

.title {
    padding-top: 70px;
    padding-bottom: 70px;
}

.title h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}

.title p {
    color: #777777;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.services {
    display: flex;   
    flex-flow: row wrap;
    justify-content: space-evenly;        
}

.services__item {    
    width: 33%;
    text-align: center;    
}

.services__item:not(:last-child) {    
    padding-bottom: 20px;
}

.services__item img {
    width: 64px;
}

.services__item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.services__item p {
    font-size: 14px;
    color: #777777;
    line-height: 1.5em;
}


#services, #about {
    padding-bottom: 90px;
}

#gallery, #contacts {
    background: #f7f7f7;
    padding-bottom: 90px;
}

#gallery_shadow {    
    border: 1px solid #cacaca;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 88px -28px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 88px -28px rgba(0,0,0,1);
    box-shadow: 0px 0px 88px -28px rgba(0,0,0,1);
}

#gallery-tabs {
    display: flex;
    width: 100%;
    flex-direction: row;
    
}

.gallery-tabs_item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 4vh;
    color: #585454;
    padding: 10px 7px;
    transition: all .3s;
    background: #f7f7f7;
    border-bottom: 3px solid #cacaca;
}

.gallery-tabs_item:not(:first-child) {
    background: rgb(255, 255, 255);
    border-bottom: 3px solid #ffffff;
}

.gallery-tabs_item:hover {
    border-bottom: 3px solid #cacaca !important; /* чтобы js не отменял hover */
}

.photo-block_item {
    display: flex;
    flex-flow: row wrap;    
    background: #ffffff;
    font-size: 0;
    padding: .5vw;    
}

.photo-block_item:not(:first-child) {
    display: none;
}

.photo-block_item-div {
    flex: auto;
    width: 150px;    
    margin: .2vw;
    overflow: hidden;
}

.photo-block_item img {    
    width: 100%;
    transition: all 0.5s;
}

.photo-block_item img:hover {
    -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.about p {
    color: #777777;
}

.contacts {
    margin-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.contacts__item {
    width: 33%;
    text-align: center;
}

.contacts__item img {
    width: 64px;
}

.contacts__item a {
    text-decoration: none;    
}

.contacts__item p {    
    color: #777777;
}

#map {
    width: 100%;
    height: 400px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social__item {
    margin: 3px;
}

.social__item img {
    width: 32px;
}

.social__item img:hover {
    opacity: 0.7;
}

footer {
    color: #777777;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

@media screen and (max-width: 982px) {
    .titles__first {
        font-size: 26px;
    }

    .titles h1 {
        font-size: 36px;
    }

    .form-container {
        width: 60%;
        margin-left: -30%;
    }

    .contacts {        
        flex-direction: column;        
    }
    
    .contacts__item {
        width: auto;
        padding-bottom: 20px;
    }

    .services {        
        flex-direction: column;        
    }
    
    .services__item {    
        width: auto;
        padding: 0 15px 20px 15px;
    }
}

@media screen and (max-width: 846px) {
    .titles__first {
        font-size: 22px;
    }

    .titles h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 697px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 612px) {
    .container {
        width: 90%;
    }

    .form-container {
        width: 70%;
        margin-left: -35%;
    }
}

@media screen and (max-width: 555px) {
    .titles__first {
        font-size: 20px;
    }

    .titles h1 {
        font-size: 28px;
    }

    .button {
        font-size: 16px;        
        width: 200px;
        padding: 15px 0;        
    }
}

@media screen and (max-width: 520px) {
    #menu {
        justify-content: center;
    }
    #menu a {
        font-size: 18px;
        padding: 2px;
        margin: 5px 3px;
    }
    .titles__first {
        font-size: 14px;
    }

    .titles h1 {
        font-size: 20px;
    }

    .form-container {
        width: 90%;
        margin-left: -45%;
    }

    .form-container__btn {
        width: 60%;
    }

}

@media screen and (max-width: 420px) {
    #menu a {
        font-size: 17px;
    }
    
    .gallery-tabs_item {
        font-size: 14px;
    }
    
}
@media screen and (max-width: 399px) {
    .container {
        width: 97%;
    }

    #menu a {
        font-size: 16px;        
    }
    
}

@media screen and (max-width: 378px) {
    #menu a {
        font-size: 15px;
    }
    .titles__first {
        font-size: 12px;
    }

    .titles h1 {
        font-size: 16px;
    }

    .contacts__item h3 {
        font-size: 17px;
    }
    .button {
        font-size: 12px;        
        width: 150px;
        padding: 8px 0;        
    }
}
@media screen and (max-width: 361px) {
    #menu a {
        margin: 5px 2px;
    }
}

@media screen and (max-width: 344px) {
    #menu a {
        font-size: 14px;        
    }
    
}

@media screen and (max-width: 329px) {
    .photo-block_item-div {           
        margin: 0;
    }
}


/*горизонтальная ориентация*/
@media screen and (max-height: 560px) {
    .notification_error {
        margin: 10px;
    }

    .ajax-contact-form {
        flex-flow: row wrap;
    }

    .ajax-contact-form textarea {
        width: 90%;
        height: 1em;
    }

    .contactUs_item {
        width: 40%;
        margin: 0 auto 4px auto;
    }

    .form-container__btn {
        margin: 0 auto 0 auto;
    }
}